= form_for @logged_activity do |f|
  .fieldset
    = f.label "Activity"
    = f.collection_select :activity_id, Activity.all, :id, :name
  .fieldset
    = f.label "Intensity"
    = f.select :intensity, LoggedActivity.intensities.keys
  .fieldset
    = f.label "Duration"
    = f.text_field :duration
  .fieldset
    = f.submit
